body {
    height: 100vh;
    background-color: #FBFBFB;
}

.nav-link {
    color: aquamarine;
}

.nav-link:hover {
    color: white;
}

.imagen {
    height: 160px;
    width: auto;
}

.imagenAncha {
    height: 160px;
    width: 260px;
}